.container {
  display: block;
  padding: 10px;
  margin: auto;
  width: 80%;
  text-align: center;

}

.products {
  margin-top:10px;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.link {
  color:white;
  text-decoration: double;
  cursor: pointer;
}

.product {
  padding: 10px;
}
